Package: smartrest-agent
Priority: optional
Section: Misc
Version: 5.0.0
Architecture: arm
Maintainer: Cumulocity IoT <unmaintained@cumulocity.com>
Depends:
Description: NTC SmartREST agent for Cumulocity.
